*{
    box-sizing: border-box;
  }
body{
    background-image: url(/asse/oficina.png);
    margin: 0;
    font-family: 'Roboto Slab', serif;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
body:before{
    content:"";
    width: 100%;
    min-height: 100vh;
    position: absolute;
    top: 0;
    left:0;
    
    background: radial-gradient(white,black);
    opacity: 0.5;
    z-index: -1;
}
header{
    height: 55px;
    align-items: center;
    background-color:transparent;
    justify-content: space-between;
    
}

header .logo_nombre{
    justify-content: space-between; 
    align-items: center;
    background: transparent;
    display:flex; 
    
}

.logo_nombre img{
    height: 50px;
    justify-content:space-between;
    display: inline-flex;
    align-items: center;
    
}
a{
    display:inline-block;
    margin-left: 10px;
    margin-right: 20px;
    
    align-items:center;
    text-decoration: none;
    color: #FFF;
    
}

nav a:hover{
    color: black;
    align-items: center;
    display:inline-block
}



